In [4]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import os
from collections import Counter
print(os.listdir(".."))

['DS 2020']

In [3]:
os.path.abspath(os.getcwd())

'C:\\Users\\Денис\\YandexDisk\\learning\\DS 2020'

In [453]:
data = pd.read_csv('https://raw.githubusercontent.com/DShev1982/module1/master/2020_05_22_11_16_data.csv')
data.head(5)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
0,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,5562,6.5,2015
1,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,6185,7.1,2015
2,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,2480,6.3,2015
3,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,5292,7.5,2015
4,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,2947,7.3,2015

In [454]:
len(data)

1890

# Предобработка датасета

In [471]:
answer_ls = [] # создадим список с ответами. сюда будем добавлять ответы по мере прохождения теста
# сюда можем вписать создание новых колонок в датасете

# 1. У какого фильма из списка самый большой бюджет?
Варианты ответов:
1. The Dark Knight Rises (tt1345836)
2. Spider-Man 3 (tt0413300)
3. Avengers: Age of Ultron (tt2395427)
4. The Warrior's Way	(tt1032751)
5. Pirates of the Caribbean: On Stranger Tides (tt1298650)

In [455]:
#решение задачи 1
the_five_movies = data[data['imdb_id'].isin(['tt1345836','tt0413300','tt2395427','tt1032751','tt1298650'])]
the_five_movies[the_five_movies['budget'] == the_five_movies['budget'].max()]['original_title']

491    The Warrior's Way
Name: original_title, dtype: object

In [472]:
# тут вводим ваш ответ и добавлем в его список ответов (сейчас для примера стоит "1")
answer_ls.append(4)

# 2. Какой из фильмов самый длительный (в минутах)
1. The Lord of the Rings: The Return of the King	(tt0167260)
2. Gods and Generals	(tt0279111)
3. King Kong	(tt0360717)
4. Pearl Harbor	(tt0213149)
5. Alexander	(tt0346491)

In [76]:
#решение задачи 2
the_five_movies = data[data['imdb_id'].isin(['tt0167260','tt0279111','tt0360717','tt0213149','tt0346491'])]
the_five_movies[the_five_movies['runtime'] == the_five_movies['runtime'].max()]['original_title']

1158    Gods and Generals
Name: original_title, dtype: object

In [473]:
answer_ls.append(2)

# 3. Какой из фильмов самый короткий (в минутах)
Варианты ответов:

1. Home on the Range	tt0299172
2. The Jungle Book 2	tt0283426
3. Winnie the Pooh	tt1449283
4. Corpse Bride	tt0121164
5. Hoodwinked!	tt0443536

In [77]:
#решение задачи 3
the_five_movies = data[data['imdb_id'].isin(['tt0299172','tt0283426','tt1449283','tt0121164','tt0443536'])]
the_five_movies[the_five_movies['runtime'] == the_five_movies['runtime'].min()]['original_title']

769    Winnie the Pooh
Name: original_title, dtype: object

In [474]:
answer_ls.append(3)

# 4. Средняя длительность фильма?

Варианты ответов:
1. 115
2. 110
3. 105
4. 120
5. 100

In [78]:
#решение задачи 4
data['runtime'].mean()

109.65343915343915

In [475]:
answer_ls.append(2)

# 5. Средняя длительность фильма по медиане?
Варианты ответов:
1. 106
2. 112
3. 101
4. 120
5. 115

In [79]:
#решение задачи 5
data['runtime'].median()

106.5

In [476]:
answer_ls.append(1)

# 6. Какой самый прибыльный фильм?
Варианты ответов:
1. The Avengers	tt0848228
2. Minions	tt2293640
3. Star Wars: The Force Awakens	tt2488496
4. Furious 7	tt2820852
5. Avatar	tt0499549

In [80]:
#решение задачи 6
#введем столбец "profit", в котором будет revenue - budget - для оценки прибыльности
data['profit'] = data['revenue'] - data['budget']
data[data['profit'] == data['profit'].max()]['original_title']

239    Avatar
Name: original_title, dtype: object

In [477]:
answer_ls.append(5)

# 7. Какой фильм самый убыточный?
Варианты ответов:
1. Supernova tt0134983
2. The Warrior's Way tt1032751
3. Flushed Away	tt0424095
4. The Adventures of Pluto Nash	tt0180052
5. The Lone Ranger	tt1210819

In [81]:
#решение задачи 7
data[data['profit'] == data['profit'].min()]['original_title']

491    The Warrior's Way
Name: original_title, dtype: object

In [478]:
answer_ls.append(2)

# 8. Сколько всего фильмов в прибыли?
Варианты ответов:
1. 1478
2. 1520
3. 1241
4. 1135
5. 1398

In [82]:
#решение задачи 8
data[data['profit']>0].count()

imdb_id                 1478
popularity              1478
budget                  1478
revenue                 1478
original_title          1478
cast                    1478
director                1478
tagline                 1478
overview                1478
runtime                 1478
genres                  1478
production_companies    1478
release_date            1478
vote_count              1478
vote_average            1478
release_year            1478
profit                  1478
dtype: int64

In [479]:
answer_ls.append(1)

# 9. Самый прибыльный фильм в 2008 году?
Варианты ответов:
1. Madagascar: Escape 2 Africa	tt0479952
2. Iron Man	tt0371746
3. Kung Fu Panda	tt0441773
4. The Dark Knight	tt0468569
5. Mamma Mia!	tt0795421

In [84]:
#решение задачи 9
movie_2008 = data[data['release_year'] == 2008]
movie_2008[movie_2008['profit'] == movie_2008['profit'].max()]['original_title']

600    The Dark Knight
Name: original_title, dtype: object

In [480]:
answer_ls.append(4)

# 10. Самый убыточный фильм за период с 2012 по 2014 (включительно)?
Варианты ответов:
1. Winter's Tale	tt1837709
2. Stolen	tt1656186
3. Broken City	tt1235522
4. Upside Down	tt1374992
5. The Lone Ranger	tt1210819

In [88]:
#решение задачи 10
movies_12_14 = data[data['release_year'].isin([2012,2013,2014])]
movies_12_14[movies_12_14['profit'] == movies_12_14['profit'].min()]['original_title']

1246    The Lone Ranger
Name: original_title, dtype: object

In [481]:
answer_ls.append(5)

# 11. Какого жанра фильмов больше всего?
Варианты ответов:
1. Action
2. Adventure
3. Drama
4. Comedy
5. Thriller

In [132]:
#решение задачи 11
#определим функцию, которая получает на вход series и список значений list_arg и выдает series, в котором индексы - list_arg, 
#а значения - сколько раз каждый из индексов встречается в series_arg
def movie_params_count(series_arg, list_arg):
    movie_params = pd.Series([0]*len(list_arg),index = list_arg)
    for i in series_arg:
        for j in list_arg:
            if j in i:
                movie_params[j] +=1
    return movie_params


five_genres = movie_params_count(data['genres'],['Action', 'Adventure', 'Drama', 'Comedy', 'Thriller'])
five_genres[five_genres == five_genres.max()]

Drama    782
dtype: int64

In [482]:
answer_ls.append(3)

# 12. Какого жанра среди прибыльных фильмов больше всего?
Варианты ответов:
1. Drama
2. Comedy
3. Action
4. Thriller
5. Adventure

In [133]:
#решение задачи 12
#функция movie_params_count определена в решении задачи 11
five_genres = movie_params_count(data[data['profit']>0]['genres'],['Action', 'Adventure', 'Drama', 'Comedy', 'Thriller'])
five_genres[five_genres == five_genres.max()]

Drama    560
dtype: int64

In [483]:
answer_ls.append(1)

# 13. Кто из режиссеров снял больше всего фильмов?
Варианты ответов:
1. Steven Spielberg
2. Ridley Scott 
3. Steven Soderbergh
4. Christopher Nolan
5. Clint Eastwood

In [114]:
#решение задачи 13
directors = data.groupby('director')['budget'].count()
directors[directors == directors.max()]

director
Steven Soderbergh    13
Name: budget, dtype: int64

In [484]:
answer_ls.append(3)

# 14. Кто из режиссеров снял больше всего Прибыльных фильмов?
Варианты ответов:
1. Steven Soderbergh
2. Clint Eastwood
3. Steven Spielberg
4. Ridley Scott
5. Christopher Nolan

In [120]:
#решение задачи 14
directors_profit = data[data['profit']>0].groupby('director')['budget'].count()
directors_profit[directors_profit == directors_profit.max()]

director
Ridley Scott    12
Name: budget, dtype: int64

In [485]:
answer_ls.append(4)

# 15. Кто из режиссеров принес больше всего прибыли?
Варианты ответов:
1. Steven Spielberg
2. Christopher Nolan
3. David Yates
4. James Cameron
5. Peter Jackson

In [124]:
#решение задачи 15
directors_profit_15 = data.groupby('director')['profit'].sum()
directors_profit_15[directors_profit_15 == directors_profit_15.max()]

director
Peter Jackson    5202593685
Name: profit, dtype: int64

In [486]:
answer_ls.append(5)
print(answer_ls, 'количество -', len(answer_ls))

[4, 2, 3, 2, 1, 5, 2, 1, 4, 5, 3, 1, 3, 4, 5] количество - 15

# 16. Какой актер принес больше всего прибыли?
Варианты ответов:
1. Emma Watson
2. Johnny Depp
3. Michelle Rodriguez
4. Orlando Bloom
5. Rupert Grint

In [463]:
#решение задачи 16
#определим функцию, которая получает на вход dataframe и список значений list_arg и выдает series, в котором индексы - list_arg, 
#а значения - сумма прибылей, если актер в cast
def sum_profit(df_arg,column,sum_column,list_arg):
    act_prof = pd.Series([0]*len(list_arg),index = list_arg)
    for i in list_arg:
        for j in df_arg[column]:
            if i in j:
                act_prof[i] += df_arg[df_arg[column]==j][sum_column].iloc[0]
    return act_prof


act_prof = sum_profit(data,'cast','profit',['Emma Watson','Johnny Depp','Michelle Rodriguez','Orlando Bloom','Rupert Grint'])
act_prof[act_prof == act_prof.max()]

Emma Watson    6666245597
dtype: int64

In [487]:
answer_ls.append(1)

# 17. Какой актер принес меньше всего прибыли в 2012 году?
Варианты ответов:
1. Nicolas Cage
2. Danny Huston
3. Kirsten Dunst
4. Jim Sturgess
5. Sami Gayle

In [198]:
#решение задачи 17, функция actors_profit определена в решении задачи 16
act_prof = actors_profit(data,['Nicolas Cage','Danny Huston','Kirsten Dunst','Jim Sturgess','Sami Gayle'])
act_prof[act_prof == act_prof.min()]

Danny Huston   -50921934
dtype: int64

In [488]:
answer_ls.append(2)
print(answer_ls, 'количество -', len(answer_ls))

[4, 2, 3, 2, 1, 5, 2, 1, 4, 5, 3, 1, 3, 4, 5, 1, 2] количество - 17

# 18. Какой актер снялся в большем количестве высокобюджетных фильмов? (в фильмах где бюджет выше среднего по данной выборке)
Варианты ответов:
1. Tom Cruise
2. Mark Wahlberg 
3. Matt Damon
4. Angelina Jolie
5. Adam Sandler

In [204]:
#решение задачи 18
#функция movie_params_count определена в решении задачи 11
actors_high_budget = movie_params_count(data[data['budget'] > data['budget'].mean()]['cast'],['Tom Cruise','Mark Wahlberg','Matt Damon','Angelina Jolie','Adam Sandler'
])
actors_high_budget[actors_high_budget == actors_high_budget.max()]

Matt Damon    18
dtype: int64

In [489]:
answer_ls.append(3)
print(answer_ls, 'количество -', len(answer_ls))

[4, 2, 3, 2, 1, 5, 2, 1, 4, 5, 3, 1, 3, 4, 5, 1, 2, 3] количество - 18

# 19. В фильмах какого жанра больше всего снимался Nicolas Cage?  
Варианты ответа:
1. Drama
2. Action
3. Thriller
4. Adventure
5. Crime

In [210]:
#решение задачи 19
#функция movie_params_count определена в решении задачи 11
Nic_genres = movie_params_count(data[data['cast'].str.contains('Nicolas Cage')]['genres'],['Drama','Action','Thriller','Adventure','Crime'])
Nic_genres[Nic_genres == Nic_genres.max()]

Action    17
dtype: int64

In [490]:
answer_ls.append(2)
print(answer_ls, 'количество -', len(answer_ls))

[4, 2, 3, 2, 1, 5, 2, 1, 4, 5, 3, 1, 3, 4, 5, 1, 2, 3, 2] количество - 19

# 20. Какая студия сняла больше всего фильмов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [491]:
#решение задачи 20
#функция movie_params_count определена в решении задачи 11
most_productive_studio = movie_params_count(data['production_companies'],['Universal Pictures','Paramount Pictures','Columbia Pictures','Warner Bros','Twentieth Century Fox Film Corporation'
])
most_productive_studio

Universal Pictures                        175
Paramount Pictures                        122
Columbia Pictures                         163
Warner Bros                               183
Twentieth Century Fox Film Corporation    109
dtype: int64

In [492]:
answer_ls.append(4)
print(answer_ls, 'количество -', len(answer_ls))

[4, 2, 3, 2, 1, 5, 2, 1, 4, 5, 3, 1, 3, 4, 5, 1, 2, 3, 2, 4] количество - 20

# 21. Какая студия сняла больше всего фильмов в 2015 году?
Варианты ответа:
1. Universal Pictures
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [230]:
#решение задачи 21
#функция movie_params_count определена в решении задачи 11
most_productive_studio = movie_params_count(data[data['release_year'] == 2015]['production_companies'],['Universal Pictures','Paramount Pictures','Columbia Pictures','Warner Bros','Twentieth Century Fox Film Corporation'
])
most_productive_studio[most_productive_studio == most_productive_studio.max()]

Warner Bros    12
dtype: int64

In [493]:
answer_ls.append(4)
print(answer_ls, 'количество -', len(answer_ls))

[4, 2, 3, 2, 1, 5, 2, 1, 4, 5, 3, 1, 3, 4, 5, 1, 2, 3, 2, 4, 4] количество - 21

# 22. Какая студия заработала больше всего денег в жанре комедий за все время?
Варианты ответа:
1. Warner Bros
2. Universal Pictures (Universal)
3. Columbia Pictures
4. Paramount Pictures
5. Walt Disney

In [460]:
#решение задачи 22
#функция sum_profit определена в решении задачи 16
studio_prof = sum_profit(data[data['genres'].str.contains('Comedy')],'production_companies','profit',['Universal','Paramount Pictures','Columbia Pictures','Warner Bros','Walt Disney'
])
studio_prof[studio_prof == studio_prof.max()]

Walt Disney    14523247419
dtype: int64

In [494]:
answer_ls.append(5)
print(answer_ls, 'количество -', len(answer_ls))

[4, 2, 3, 2, 1, 5, 2, 1, 4, 5, 3, 1, 3, 4, 5, 1, 2, 3, 2, 4, 4, 5] количество - 22

# 23. Какая студия заработала больше всего денег в 2012 году?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Columbia Pictures
4. Paramount Pictures
5. Lucasfilm

In [465]:
#решение задачи 23
#функция sum_profit определена в решении задачи 16
studio_prof = sum_profit(data[data['release_year'] == 2012],'production_companies','revenue',['Universal','Paramount Pictures','Columbia Pictures','Warner Bros','Lucasfilm'
])
studio_prof[studio_prof == studio_prof.max()]

Columbia Pictures    4378165547
dtype: int64

In [495]:
answer_ls.append(3)
print(answer_ls, 'количество -', len(answer_ls))

[4, 2, 3, 2, 1, 5, 2, 1, 4, 5, 3, 1, 3, 4, 5, 1, 2, 3, 2, 4, 4, 5, 3] количество - 23

# 24. Самый убыточный фильм от Paramount Pictures
Варианты ответа:

1. K-19: The Widowmaker tt0267626
2. Next tt0435705
3. Twisted tt0315297
4. The Love Guru tt0811138
5. The Fighter tt0964517

In [256]:
#решение задачи 24
paramount = data[data['production_companies'].str.contains('Paramount Pictures')]
par_movies_loss = paramount[paramount['imdb_id'].isin(['tt0267626','tt0435705','tt0315297','tt0811138','tt0964517'])][['original_title','profit']]
par_movies_loss[par_movies_loss['profit'] == par_movies_loss['profit'].min()]

           original_title    profit
926  K-19: The Widowmaker -64831034

In [496]:
answer_ls.append(1)
print(answer_ls, 'количество -', len(answer_ls))

[4, 2, 3, 2, 1, 5, 2, 1, 4, 5, 3, 1, 3, 4, 5, 1, 2, 3, 2, 4, 4, 5, 3, 1] количество - 24

# 25. Какой Самый прибыльный год (заработали больше всего)?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2002
5. 2015

In [262]:
#решение задачи 25
best_year = data.groupby('release_year')['profit'].sum()
best_year[best_year == best_year.max()]

release_year
2015    18668572378
Name: profit, dtype: int64

In [497]:
answer_ls.append(5)
print(answer_ls, 'количество -', len(answer_ls))

[4, 2, 3, 2, 1, 5, 2, 1, 4, 5, 3, 1, 3, 4, 5, 1, 2, 3, 2, 4, 4, 5, 3, 1, 5] количество - 25

# 26. Какой Самый прибыльный год для студии Warner Bros?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2010
5. 2015

In [267]:
#решение задачи 26
best_year = data[data['production_companies'].str.contains('Warner Bros')].groupby('release_year')['profit'].sum()
best_year[best_year == best_year.max()]

release_year
2014    2295464519
Name: profit, dtype: int64

In [498]:
answer_ls.append(1)
print(answer_ls, 'количество -', len(answer_ls))

[4, 2, 3, 2, 1, 5, 2, 1, 4, 5, 3, 1, 3, 4, 5, 1, 2, 3, 2, 4, 4, 5, 3, 1, 5, 1] количество - 26

# 27. В каком месяце за все годы суммарно вышло больше всего фильмов?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [281]:
#решение задачи 27
data['month'] = data['release_date'].str.extract(r'([0-9]+)/')
productive_month = data.groupby('month')['cast'].count()
productive_month[productive_month == productive_month.max()]

month
9    227
Name: cast, dtype: int64

In [499]:
answer_ls.append(4)
print(answer_ls, 'количество -', len(answer_ls))

[4, 2, 3, 2, 1, 5, 2, 1, 4, 5, 3, 1, 3, 4, 5, 1, 2, 3, 2, 4, 4, 5, 3, 1, 5, 1, 4] количество - 27

# 28. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)
Варианты ответа:
1. 345
2. 450
3. 478
4. 523
5. 381

In [288]:
#решение задачи 28
data[data['month'].isin(['6','7','8'])]['cast'].count()

450

In [500]:
answer_ls.append(2)
print(answer_ls, 'количество -', len(answer_ls))

[4, 2, 3, 2, 1, 5, 2, 1, 4, 5, 3, 1, 3, 4, 5, 1, 2, 3, 2, 4, 4, 5, 3, 1, 5, 1, 4, 2] количество - 28

# 29. Какой режисер выпускает (суммарно по годам) больше всего фильмов зимой?
Варианты ответов:
1. Steven Soderbergh
2. Christopher Nolan
3. Clint Eastwood
4. Ridley Scott
5. Peter Jackson

In [299]:
#решение задачи 29

director_winter = data[data['month'].isin(['1','2','12'])&data['director'].isin(['Steven Soderbergh','Christopher Nolan','Clint Eastwood','Ridley Scott','Peter Jackson'])].groupby('director')['month'].count()
director_winter[director_winter == director_winter.max()]

director
Peter Jackson    7
Name: month, dtype: int64

In [501]:
answer_ls.append(5)
print(answer_ls, 'количество -', len(answer_ls))

[4, 2, 3, 2, 1, 5, 2, 1, 4, 5, 3, 1, 3, 4, 5, 1, 2, 3, 2, 4, 4, 5, 3, 1, 5, 1, 4, 2, 5] количество - 29

# 30. Какой месяц чаще всего по годам самый прибыльный?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [304]:
#решение задачи 30
best_profit_month = data[data['month'].isin(['1','6','12','9','5'])].groupby('month')['profit'].sum()
best_profit_month[best_profit_month == best_profit_month.max()]

month
6    27551262500
Name: profit, dtype: int64

In [502]:
answer_ls.append(2)
print(answer_ls, 'количество -', len(answer_ls))

[4, 2, 3, 2, 1, 5, 2, 1, 4, 5, 3, 1, 3, 4, 5, 1, 2, 3, 2, 4, 4, 5, 3, 1, 5, 1, 4, 2, 5, 2] количество - 30

# 31. Названия фильмов какой студии в среднем самые длинные по количеству символов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [503]:
#решение задачи 31
#определим функцию, которая получает на вход dataframe ("df"), столбцы ("column_list","column_mean") и список значений ("list_arg")
#, выдает в результате series ("result_series"). В result_series индексы = list_arg, значения - среднее по столбцу column_mean для
# случаев, когда столбец column_list df содержит в себе значение из List_arg. 
def studio_mean(df, column_list,column_mean, list_arg):
    result_series = pd.Series([0]*len(list_arg),index = list_arg)
    for i in list_arg:
        result_series[i] = df[df[column_list].str.contains(i)][column_mean].mean()
    return result_series

data['char_title'] = [len(x) for x in data['original_title']]
list_studios = ['Universal Pictures','Warner Bros','Jim Henson Company, The','Paramount Pictures','Four By Two Productions']
titles_studio = studio_mean(data,'production_companies','char_title',list_studios)
titles_studio[titles_studio == titles_studio.max()]

Four By Two Productions    83
dtype: int64

In [504]:
answer_ls.append(5)
print(answer_ls, 'количество -', len(answer_ls))

[4, 2, 3, 2, 1, 5, 2, 1, 4, 5, 3, 1, 3, 4, 5, 1, 2, 3, 2, 4, 4, 5, 3, 1, 5, 1, 4, 2, 5, 2, 5] количество - 31

# 32. Названия фильмов какой студии в среднем самые длинные по количеству слов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [365]:
#решение задачи 32
#функция studio_mean определена в решении задачи 31
#data['num_words'] = [len(x.split()) for x in data['original_title']]
list_studios = ['Universal Pictures','Warner Bros','Jim Henson Company, The','Paramount Pictures','Four By Two Productions']
titles_studio = studio_mean(data,'production_companies','num_words',list_studios)
titles_studio[titles_studio == titles_studio.max()]

Four By Two Productions    12
dtype: int64

In [505]:
answer_ls.append(5)
print(answer_ls, 'количество -', len(answer_ls))

[4, 2, 3, 2, 1, 5, 2, 1, 4, 5, 3, 1, 3, 4, 5, 1, 2, 3, 2, 4, 4, 5, 3, 1, 5, 1, 4, 2, 5, 2, 5, 5] количество - 32

# 33. Сколько разных слов используется в названиях фильмов?(без учета регистра)
Варианты ответа:
1. 6540
2. 1002
3. 2461
4. 28304
5. 3432

In [390]:
#решение задачи 33
list_titles = [x.lower().split() for x in data['original_title']]
united_list = list_titles[0]
for i in list_titles:
    if i != list_titles[0]:
        united_list.extend(i)

len(pd.Series(united_list).unique())

2461

In [506]:
answer_ls.append(3)
print(answer_ls, 'количество -', len(answer_ls))

[4, 2, 3, 2, 1, 5, 2, 1, 4, 5, 3, 1, 3, 4, 5, 1, 2, 3, 2, 4, 4, 5, 3, 1, 5, 1, 4, 2, 5, 2, 5, 5, 3] количество - 33

# 34. Какие фильмы входят в 1 процент лучших по рейтингу?
Варианты ответа:
1. Inside Out, Gone Girl, 12 Years a Slave
2. BloodRayne, The Adventures of Rocky & Bullwinkle
3. The Lord of the Rings: The Return of the King,Upside Down
4. 300, Lucky Number Slevin

In [404]:
#решение задачи 34
best_1_percent = data[data['vote_average'] > data['vote_average'].quantile(.99)]
best_1_percent[best_1_percent['original_title'].str.contains('Inside Out|Gone Girl|12 Years a Slave|BloodRayne|The Adventures of Rocky & Bullwinkle|The Lord of the Rings: The Return of the King|300|Lucky Number Slevin')]

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit,month,char_title,num_words
9,tt2096673,6.326804,175000000,853708609,Inside Out,Amy Poehler|Phyllis Smith|Richard Kind|Bill Ha...,Pete Docter,Meet the little voices inside your head.,"Growing up can be a bumpy road, and it's no ex...",94,Comedy|Animation|Family,Walt Disney Pictures|Pixar Animation Studios|W...,6/9/2015,3935,8.0,2015,678708609,6,10,2
128,tt2267998,6.438727,61000000,369330363,Gone Girl,Ben Affleck|Rosamund Pike|Carrie Coon|Neil Pat...,David Fincher,You don't know what you've got 'til it's...,With his wife's disappearance having become th...,145,Mystery|Thriller|Drama,Twentieth Century Fox Film Corporation|Regency...,10/1/2014,3720,7.9,2014,308330363,10,9,2
1082,tt0167260,7.122455,94000000,1118888979,The Lord of the Rings: The Return of the King,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...,Peter Jackson,The eye of the enemy is moving.,Aragorn is revealed as the heir to the ancient...,201,Adventure|Fantasy|Action,WingNut Films|New Line Cinema,12/1/2003,5636,7.9,2003,1024888979,12,45,10
1192,tt2024544,3.625529,20000000,187000000,12 Years a Slave,Chiwetel Ejiofor|Michael Fassbender|Lupita Nyo...,Steve McQueen,The extraordinary true story of Solomon Northup,"In the pre-Civil War United States, Solomon No...",134,Drama|History,Plan B Entertainment|Regency Enterprises|River...,10/18/2013,2241,7.9,2013,167000000,10,16,4

In [507]:
answer_ls.append(1)
print(answer_ls, 'количество -', len(answer_ls))

[4, 2, 3, 2, 1, 5, 2, 1, 4, 5, 3, 1, 3, 4, 5, 1, 2, 3, 2, 4, 4, 5, 3, 1, 5, 1, 4, 2, 5, 2, 5, 5, 3, 1] количество - 34

# 35. Какие актеры чаще всего снимаются в одном фильме вместе
Варианты ответа:
1. Johnny Depp & Helena Bonham Carter
2. Hugh Jackman & Ian McKellen
3. Vin Diesel & Paul Walker
4. Adam Sandler & Kevin James
5. Daniel Radcliffe & Rupert Grint

In [426]:
#решение задачи 35
duo_list = [['Johnny Depp','Helena Bonham Carter'],['Hugh Jackman','Ian McKellen'],['Vin Diesel','Paul Walker'],['Adam Sandler','Kevin James'],['Daniel Radcliffe','Rupert Grint']]
duo_list_index = [x[0]+' & ' +x[1] for x in duo_list]
duo_list_series = pd.Series([0]*len(duo_list),index = duo_list_index)
for i in range(0,len(duo_list)):
    duo_df = data[data['cast'].str.contains(r'^(?=.*'+duo_list[i][0]+')(?=.*'+duo_list[i][1]+')')]
    duo_list_series[i] = duo_df['cast'].count()
    
duo_list_series[duo_list_series == duo_list_series.max()]

Daniel Radcliffe & Rupert Grint    8
dtype: int64

In [508]:
answer_ls.append(5)
print(answer_ls, 'количество -', len(answer_ls))

[4, 2, 3, 2, 1, 5, 2, 1, 4, 5, 3, 1, 3, 4, 5, 1, 2, 3, 2, 4, 4, 5, 3, 1, 5, 1, 4, 2, 5, 2, 5, 5, 3, 1, 5] количество - 35

# 36. У какого из режиссеров самый высокий процент фильмов со сборами выше бюджета?

Варианты ответа:
1. Quentin Tarantino
2. Steven Soderbergh
3. Robert Rodriguez
4. Christopher Nolan
5. Clint Eastwood

In [509]:
#решение задачи 36
#вероятность выпустить фильм в прибыли считаю как 
#(количество фильмов в прибыли, выпущенных режиссером)/(общее число фильмов, выпущенных режиссером)

directors_list = ['Quentin Tarantino','Steven Soderbergh','Robert Rodriguez','Christopher Nolan','Clint Eastwood']
directors_series = pd.Series([0]*len(directors_list), index = directors_list, dtype = 'float32')
for i in directors_list:
    directors_series[i] = data[(data['director'] == i)&(data['profit'] > 0)]['cast'].count() / data[data['director'] == i]['cast'].count()
   
directors_series[directors_series == directors_series.max()]

Quentin Tarantino    1.0
Christopher Nolan    1.0
dtype: float32

In [510]:
answer_ls.append([1,4])
print(answer_ls, 'количество -', len(answer_ls))

[4, 2, 3, 2, 1, 5, 2, 1, 4, 5, 3, 1, 3, 4, 5, 1, 2, 3, 2, 4, 4, 5, 3, 1, 5, 1, 4, 2, 5, 2, 5, 5, 3, 1, 5, [1, 4]] количество - 36

# Submission

In [511]:
len(answer_ls)

36

In [512]:
pd.DataFrame({'Id':range(1,len(answer_ls)+1), 'Answer':answer_ls}, columns=['Id', 'Answer'])

    Id  Answer
0    1       4
1    2       2
2    3       3
3    4       2
4    5       1
5    6       5
6    7       2
7    8       1
8    9       4
9   10       5
10  11       3
11  12       1
12  13       3
13  14       4
14  15       5
15  16       1
16  17       2
17  18       3
18  19       2
19  20       4
20  21       4
21  22       5
22  23       3
23  24       1
24  25       5
25  26       1
26  27       4
27  28       2
28  29       5
29  30       2
30  31       5
31  32       5
32  33       3
33  34       1
34  35       5
35  36  [1, 4]