In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [12]:
data = pd.read_csv('https://raw.githubusercontent.com/DShev1982/skillfactory/master/skillfactory_rds/module_1/2020_05_24_9_10_module_1.csv',sep=',')
data.head(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,7.1,2015
2,tt2908446,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,6.3,2015
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,7.5,2015
4,tt2820852,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,7.3,2015

In [14]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1889 entries, 0 to 1888
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               1889 non-null   object
 1   budget                1889 non-null   int64
 2   revenue               1889 non-null   int64
 3   original_title        1889 non-null   object
 4   cast                  1889 non-null   object
 5   director              1889 non-null   object
 6   tagline               1889 non-null   object
 7   overview              1889 non-null   object
 8   runtime               1889 non-null   int64
 9   genres                1889 non-null   object
 10  production_companies  1889 non-null   object
 11  release_date          1889 non-null   object
 12  vote_average          1889 non-null   float64
 13  release_year          1889 non-null   int64
dtypes: float64(1), int64(4), object(9)
memory usage: 206.7+ KB

# Предобработка

In [247]:
#answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:
data['profit'] = data['revenue'] - data['budget']
data['month'] = data['release_date'].str.extract(r'([0-9]+)/')
data['char'] = [len(x) for x in data['original_title']]
data['words'] = [len(x.split()) for x in data['original_title']]

def movie_params_count(series_arg, list_arg):
    movie_params = pd.Series([0]*len(list_arg),index = list_arg)
    for i in series_arg:
        for j in list_arg:
            if j in i:
                movie_params[j] +=1
    return movie_params

def split_categories(df, column_name):
    nested_list = [x.split('|') for x in df[column_name]]
    united_list = nested_list[0]
    for i in range(1,len(nested_list)):
        united_list.extend(nested_list[i])

    united_series = pd.Series(united_list)
    categories = united_series.value_counts()
    return categories


#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [125]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
#answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = answer_text + ' +'
answers
# если ответили верно, можете добавить комментарий со значком "+"

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650) +'}

In [124]:
# тут пишем ваш код для решения данного вопроса:
answer_data = data[data['budget'] == data['budget'].max()][['original_title','imdb_id']]
answer_text = '5. ' + answer_data.iloc[0,0] + ' ('+answer_data.iloc[0,1]+')'

ВАРИАНТ 2

In [0]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [127]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = answer_text + ' +'
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650) +',
 '2': '2. Gods and Generals (tt0279111) +'}

In [126]:
#решение задачи 2
answer_data = data[data['runtime'] == data['runtime'].max()][['original_title','imdb_id']]
answer_text = '2. ' + answer_data.iloc[0,0] + ' ('+answer_data.iloc[0,1]+')'

# 3. Какой из фильмов самый короткий (в минутах)?

In [129]:
answers['3'] = answer_text
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650) +',
 '2': '2. Gods and Generals (tt0279111) +',
 '3': '3. Winnie the Pooh (tt1449283)'}

In [128]:
#решение задачи 3
answer_data = data[data['runtime'] == data['runtime'].min()][['original_title','imdb_id']]
answer_text = '3. ' + answer_data.iloc[0,0] + ' ('+answer_data.iloc[0,1]+')'

# 4. Какова средняя длительность фильмов?

In [131]:
answers['4'] = answer_text
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650) +',
 '2': '2. Gods and Generals (tt0279111) +',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '2. 110'}

In [130]:
#решение задачи 4
movie_mean = round(data['runtime'].mean())
answer_text = '2. '+ str(movie_mean)

# 5. Каково медианное значение длительности фильмов?

In [133]:
answers['5'] = answer_text
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650) +',
 '2': '2. Gods and Generals (tt0279111) +',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '2. 110',
 '5': '1. 107'}

In [132]:
#решение задачи 4
movie_median = round(data['runtime'].median())
answer_text = '1. ' + str(movie_median)
answer_text

'1. 107'

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [135]:
# лучше код получения столбца profit вынести в Предобработку что в начале
answers['6'] = answer_text
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650) +',
 '2': '2. Gods and Generals (tt0279111) +',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)'}

In [134]:
#решение задачи 6
answer_data = data[data['profit'] == data['profit'].max()][['original_title','imdb_id']]
answer_text = '5. ' + answer_data.iloc[0,0] + ' ('+answer_data.iloc[0,1]+')'
answer_text

'5. Avatar (tt0499549)'

# 7. Какой фильм самый убыточный?

In [137]:
answers['7'] = answer_text
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650) +',
 '2': '2. Gods and Generals (tt0279111) +',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)'}

In [417]:
#решение задачи 7
answer_data = data[data['profit'] == data['profit'].min()][['original_title','imdb_id']]
answer_text = '5. ' + answer_data.iloc[0,0] + ' ('+answer_data.iloc[0,1]+')'
answer_text

'5. The Lone Ranger (tt1210819)'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [139]:
answers['8'] = answer_text
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650) +',
 '2': '2. Gods and Generals (tt0279111) +',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478'}

In [138]:
#решение задачи 8
movie_profitable = data[data['profit'] > 0]['cast'].count()
answer_text = '1. ' + str(movie_profitable)
answer_text

'1. 1478'

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [141]:
answers['9'] = answer_text
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650) +',
 '2': '2. Gods and Generals (tt0279111) +',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)'}

In [140]:
#решение задачи 9
movie_2008 = data[data['release_year']==2008]
answer_data = movie_2008[movie_2008['profit'] == movie_2008['profit'].max()][['original_title','imdb_id']]
answer_text = '4. ' + answer_data.iloc[0,0] + ' ('+answer_data.iloc[0,1]+')'
answer_text

'4. The Dark Knight (tt0468569)'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [143]:
answers['10'] = answer_text
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650) +',
 '2': '2. Gods and Generals (tt0279111) +',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)'}

In [142]:
#решение задачи 10
movie_1214 = data[data['release_year'].isin([2012,2013,2014])]
answer_data = movie_1214[movie_1214['profit'] == movie_1214['profit'].min()][['original_title','imdb_id']]
answer_text = '5. ' + answer_data.iloc[0,0] + ' ('+answer_data.iloc[0,1]+')'
answer_text

'5. The Lone Ranger (tt1210819)'

# 11. Какого жанра фильмов больше всего?

In [145]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
answers['11'] = answer_text
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650) +',
 '2': '2. Gods and Generals (tt0279111) +',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama'}

In [151]:
#решение задачи 11
#Вариант 1, функцию split_categories определил в предобработке
categories = split_categories(data,'genres')
categories[categories == categories.max()]

answer_text = '3. ' + str(categories[categories == categories.max()].index[0])
answer_text

'3. Drama'

In [146]:
#решение задачи 11
#Вариант 2, функцию movie_params_count определил в предобработке
five_genres = movie_params_count(data['genres'],['Action', 'Adventure', 'Drama', 'Comedy', 'Thriller'])
five_genres[five_genres == five_genres.max()]

Drama    782
dtype: int64

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [155]:
answers['12'] = answer_text
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650) +',
 '2': '2. Gods and Generals (tt0279111) +',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '1. Drama'}

In [154]:
#решение задачи 12
categories = split_categories(data[data['profit'] > 0],'genres')
categories[categories == categories.max()]

answer_text = '1. ' + str(categories[categories == categories.max()].index[0])
answer_text

'1. Drama'

In [356]:
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650) +',
 '2': '2. Gods and Generals (tt0279111) +',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5. Peter Jackson'}

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [165]:
answers['13'] = answer_text
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650) +',
 '2': '2. Gods and Generals (tt0279111) +',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5. Peter Jackson'}

In [164]:
#решение задачи 13
directors_profit = data.groupby('director')['revenue'].sum()

answer_text = '5. ' + str(directors_profit[directors_profit == directors_profit.max()].index[0])
answer_text

'5. Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [358]:
answers['14'] = '3. Robert Rodriguez'
#смотри ниже, почему ответ написал текстом
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650) +',
 '2': '2. Gods and Generals (tt0279111) +',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5. Peter Jackson',
 '14': '3. Robert Rodriguez'}

In [346]:
#решение задачи 14
action_movies = data[data['genres'].str.contains('Action')]
action_directors = action_movies.groupby('director')['cast'].count()
action_directors[action_directors == action_directors.max()]
action_directors.sort_values(ascending = False)

#получается либо Michael Bay , либо Paul W.S. Anderson, 
#но таких в предложенных вариантах ответа не было => взял следующего: Robert Rodriguez

director
Michael Bay           7
Paul W.S. Anderson    7
Robert Rodriguez      6
Ridley Scott          6
Antoine Fuqua         6
                     ..
Les Mayfield          1
Kurt Wimmer           1
Kevin Smith           1
Kevin Macdonald       1
Adam McKay            1
Name: cast, Length: 345, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [361]:
answers['15'] = answer_text
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650) +',
 '2': '2. Gods and Generals (tt0279111) +',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5. Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth'}

In [360]:
#решение задачи 15
movie_2012 = data[data['release_year'] == 2012]
max_profit_2012 = movie_2012[movie_2012['profit'] == movie_2012['profit'].max()]
actors_list = ['Nicolas Cage','Tom Hardy','Chris Hemsworth','Jim Sturgess','Emma Stone']
for i in range(0,len(actors_list)):
    if actors_list[i] in max_profit_2012['cast'].iloc[0].split('|'):
        answer_text = str(i+1) +'. ' + actors_list[i]
answer_text

'3. Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [363]:
answers['16'] = answer_text
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650) +',
 '2': '2. Gods and Generals (tt0279111) +',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5. Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon'}

In [362]:
#решение задачи 16, под высокобюджетными буду понимать фильмы, у которых бюджет 
# > mean
high_budg = data[data['budget'] > data['budget'].mean()]
categories = split_categories(high_budg,'cast')
categories[categories == categories.max()]

answer_text = '3. ' + str(categories[categories == categories.max()].index[0])
answer_text

'3. Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [365]:
answers['17'] = answer_text
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650) +',
 '2': '2. Gods and Generals (tt0279111) +',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5. Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action'}

In [364]:
#решение задачи 17

Cage_movies = data[data['cast'].str.contains('Nicolas Cage')]
categories = split_categories(high_budg,'genres')
categories[categories == categories.max()]

answer_text = '2. ' + str(categories[categories == categories.max()].index[0])
answer_text

'2. Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [367]:
answers['18'] = answer_text
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650) +',
 '2': '2. Gods and Generals (tt0279111) +',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5. Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker (tt0267626)'}

In [366]:
#решение задачи 18
answers_list = ['K-19: The Widowmaker','Next','Twisted','The Love Guru','The Fighter']

PP_movies = data[data['production_companies'].str.contains('Paramount Pictures')]
min_profit_PP = PP_movies[PP_movies['profit'] == PP_movies['profit'].min()][['original_title','imdb_id']]

for i in range(0,len(answers_list)):
    if answers_list[i] in min_profit_PP.iloc[0,0]:
        answer_text = str(i+1) +'. ' + min_profit_PP.iloc[0,0] + ' ('+min_profit_PP.iloc[0,1]+')'
answer_text

'1. K-19: The Widowmaker (tt0267626)'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [369]:
answers['19'] = answer_text
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650) +',
 '2': '2. Gods and Generals (tt0279111) +',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5. Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker (tt0267626)',
 '19': '5. 2015'}

In [368]:
answers_list = [2014,2008,2012,2002,2015]

yearly_profit = data.groupby('release_year')['profit'].sum()
best_year = yearly_profit[yearly_profit == yearly_profit.max()].index[0]

for i in range(0,len(answers_list)):
    if answers_list[i] == best_year:
        answer_text = str(i+1) +'. ' + str(answers_list[i])
answer_text

'5. 2015'

# 20. Какой самый прибыльный год для студии Warner Bros?

In [375]:
answers['20'] = answer_text
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650) +',
 '2': '2. Gods and Generals (tt0279111) +',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5. Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker (tt0267626)',
 '19': '5. 2015',
 '20': '1. 2014'}

In [374]:
answers_list = [2014,2008,2012,2010,2015]

WB_movies = data[data['production_companies'].str.contains('Warner Bros')]
WB_yearly = WB_movies.groupby('release_year')['profit'].sum()
best_year = WB_yearly[WB_yearly == WB_yearly.max()].index[0]

for i in range(0,len(answers_list)):
    if answers_list[i] == best_year:
        answer_text = str(i+1) +'. ' + str(answers_list[i])
answer_text

'1. 2014'

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [388]:
answers['21'] = answer_text
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650) +',
 '2': '2. Gods and Generals (tt0279111) +',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5. Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker (tt0267626)',
 '19': '5. 2015',
 '20': '1. 2014',
 '21': '4. 9',
 '22': '2. 450'}

In [387]:
#решение задачи 21, в предобработке ввел столбец month
answers_list = ['1','6','12','9','5']

month_movies = data.groupby('month')['cast'].count()
best_month = month_movies[month_movies == month_movies.max()].index[0]

for i in range(0,len(answers_list)):
    if answers_list[i] in best_month:
        answer_text = str(i+1) +'. ' + answers_list[i]
answer_text

'4. 9'

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [386]:
answers['22'] = answer_text
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650) +',
 '2': '2. Gods and Generals (tt0279111) +',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5. Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker (tt0267626)',
 '19': '5. 2015',
 '20': '1. 2014',
 '21': '2. 450',
 '22': '2. 450'}

In [385]:
#решение задачи 22
answers_list = [345,450,478,523,381]

summer_movies = data[data['month'].isin(['6','7','8'])]

for i in range(0,len(answers_list)):
    if answers_list[i] == summer_movies['cast'].count():
        answer_text = str(i+1) +'. ' + str(answers_list[i])
answer_text

'2. 450'

# 23. Для какого режиссера зима – самое продуктивное время года?

In [390]:
answers['23'] = answer_text
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650) +',
 '2': '2. Gods and Generals (tt0279111) +',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5. Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker (tt0267626)',
 '19': '5. 2015',
 '20': '1. 2014',
 '21': '4. 9',
 '22': '2. 450',
 '23': '5. Peter Jackson'}

In [389]:
#решение задачи 23
answers_list = ['Steven Soderbergh','Christopher Nolan','Clint Eastwood','Ridley Scott','Peter Jackson']

winter_movies = data[data['month'].isin(['1','2','12'])]
winter_directors = winter_movies.groupby('director')['cast'].count()
best_win_dir = winter_directors[winter_directors == winter_directors.max()].index[0]

for i in range(0,len(answers_list)):
    if answers_list[i] in best_win_dir:
        answer_text = str(i+1) +'. ' + answers_list[i]
answer_text

'5. Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [392]:
answers['24'] = answer_text
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650) +',
 '2': '2. Gods and Generals (tt0279111) +',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5. Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker (tt0267626)',
 '19': '5. 2015',
 '20': '1. 2014',
 '21': '4. 9',
 '22': '2. 450',
 '23': '5. Peter Jackson',
 '24': '5. Four By Two Productions'}

In [391]:
#решение задачи 24, ввел столбце 'char' в предобработке
answers_list = ['Universal','Warner Bros','Jim Henson Company, The','Paramount Pictures','Four By Two Productions']

long_title_studio = data[data['char'] == data['char'].max()]

for i in range(0,len(answers_list)):
    if answers_list[i] in long_title_studio['production_companies'].iloc[0]:
        answer_text = str(i+1) +'. ' + answers_list[i]
answer_text

'5. Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [395]:
answers['25'] = answer_text
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650) +',
 '2': '2. Gods and Generals (tt0279111) +',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5. Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker (tt0267626)',
 '19': '5. 2015',
 '20': '1. 2014',
 '21': '4. 9',
 '22': '2. 450',
 '23': '5. Peter Jackson',
 '24': '5. Four By Two Productions',
 '25': '5. Total Entertainment'}

In [394]:
#решение задачи 25, ввел столбце 'words' в предобработке
answers_list = pd.Series(['Universal Pictures','Warner Bros','Midnight Picture Show','Paramount Pictures','Total Entertainment'])

studios = pd.Series([])

for i_ind, i_val in answers_list.items():
    studios[str(i_ind+1) + '. ' + str(i_val)] = data[data['production_companies'].str.contains(i_val)]['words'].mean()

answer_text = studios[studios == studios.max()].index[0]
answer_text

#а если смотреть по всему data, то получается 'Four By Two Productions',
#которых в вариантах ответов нет

A:\anaconda\lib\site-packages\ipykernel_launcher.py:4: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  after removing the cwd from sys.path.

'5. Total Entertainment'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [398]:
answers['26'] = answer_text
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650) +',
 '2': '2. Gods and Generals (tt0279111) +',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5. Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker (tt0267626)',
 '19': '5. 2015',
 '20': '1. 2014',
 '21': '4. 9',
 '22': '2. 450',
 '23': '5. Peter Jackson',
 '24': '5. Four By Two Productions',
 '25': '5. Total Entertainment',
 '26': "1. ['Inside Out', 'The Dark Knight', '12 Years a Slave']"}

In [397]:
#решение задачи 26
answers_list = pd.Series([['Inside Out','The Dark Knight','12 Years a Slave'],
                ['BloodRayne','The Adventures of Rocky & Bullwinkle'],
                ['Batman Begins','The Lord of the Rings: The Return of the King','Upside Down'],
                ['300','Lucky Number Slevin','Kill Bill: Vol. 1'],
                ['Upside Down','Inside Out','Iron Man']])

best_1_percent = data[data['vote_average'] > data['vote_average'].quantile(.99)]

for i_index,i_val in answers_list.items():
    for j in i_val:
        if j not in best_1_percent['original_title'].values:
            break
    else:
        answer_text = str(i_index+1) +'. ' + str(i_val)
        break

answer_text

"1. ['Inside Out', 'The Dark Knight', '12 Years a Slave']"

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [400]:
answers['27'] = answer_text
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650) +',
 '2': '2. Gods and Generals (tt0279111) +',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5. Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker (tt0267626)',
 '19': '5. 2015',
 '20': '1. 2014',
 '21': '4. 9',
 '22': '2. 450',
 '23': '5. Peter Jackson',
 '24': '5. Four By Two Productions',
 '25': '5. Total Entertainment',
 '26': "1. ['Inside Out', 'The Dark Knight', '12 Years a Slave']",
 '27': "5. ['Daniel Radcliffe', 'Rupert Grint']"}

In [399]:
#решение задачи 27
answers_list = pd.Series([['Johnny Depp','Helena Bonham Carter'],
                          ['Ben Stiller','Owen Wilson'],
                          ['Vin Diesel','Paul Walker'],
                          ['Adam Sandler','Kevin James'],
                          ['Daniel Radcliffe','Rupert Grint']])

actors_pairs = pd.Series([])

for i_ind, i_val in answers_list.items():
    actors_pairs[str(i_ind+1) + '. ' + str(i_val)] = data[data['cast'].str.contains(i_val[0])&data['cast'].str.contains(i_val[1])]['cast'].count()
    

actors_pairs[actors_pairs == actors_pairs.max()]
answer_text = actors_pairs[actors_pairs == actors_pairs.max()].index[0]
answer_text

A:\anaconda\lib\site-packages\ipykernel_launcher.py:8: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.

"5. ['Daniel Radcliffe', 'Rupert Grint']"

ВАРИАНТ 2

# Submission

In [416]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650) +',
 '2': '2. Gods and Generals (tt0279111) +',
 '3': '3. Winnie the Pooh (tt1449283) +',
 '4': '2. 110 +',
 '5': '1. 107 +',
 '6': '5. Avatar (tt0499549) +',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478 +',
 '9': '4. The Dark Knight (tt0468569) +',
 '10': '5. The Lone Ranger (tt1210819) +',
 '11': '3. Drama +',
 '12': '1. Drama +',
 '13': '5. Peter Jackson +',
 '14': '3. Robert Rodriguez +',
 '15': '3. Chris Hemsworth +',
 '16': '3. Matt Damon +',
 '17': '2. Action +',
 '18': '1. K-19: The Widowmaker (tt0267626) +',
 '19': '5. 2015 +',
 '20': '1. 2014 +',
 '21': '4. 9 +',
 '22': '2. 450 +',
 '23': '5. Peter Jackson +',
 '24': '5. Four By Two Productions +',
 '25': '5. Total Entertainment',
 '26': "1. ['Inside Out', 'The Dark Knight', '12 Years a Slave'] +",
 '27': "5. ['Daniel Radcliffe', 'Rupert Grint'] +"}

In [409]:
# и убедиться что ни чего не пропустил)
len(answers)

27